<style>
	th,td{
		padding: 5px;
	}
</style>

<div class="d-flex justify-content-center" role="group" aria-label="Basic example">
	<%= status_button('Display All', 'all') %>
	<%= status_button('Display Available', true) %>
</div>

<table class='table table-dark table-striped'>
	<%= book_headers %>
	<% @books.each_with_index do |book,index| %>
		<tr>
			<%= book_record(book,index) %>
		</tr>
	<% end %>
</table>
